body {
    cursor: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background: rgb(102,16,97);
    background: radial-gradient(circle, rgba(102,16,97,1) 0%, rgba(36,0,34,1) 50%, rgba(119,16,170,1) 100%);
}
  
.no-scroll {
    overflow: hidden;
}

.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: none;
    border: solid 2px rgba(80, 40, 85, 0.7);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.curved-underline {
    position: relative;
    overflow: hidden;
}
  
.curved-underline::after {
    width: 100%;
    border-width: 2px;
    top: 37px;
    border-color: #5f27a0a1 transparent transparent transparent;
    height: 7px;
    border-style: solid;
    position: absolute;
    content: "";
    border-radius: 50% 50% 0% 0%;
    bottom: 10px;
    left: 0px;
}

.glass {
    fill-opacity: 0.2;
    background: rgba(14, 13, 19, 0.507);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    /* -webkit-backdrop-filter: blur(10px); */
    border: 1px solid #412e6e;
    z-index: 2;
}